{% extends "base.html" %}
{% load compress humanize staticfiles hc_extras %}

{% block title %}Notification Channels - healthchecks.io{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Telegram</h1>

    <p>Get a telegram message when check goes up or down.</p>

    <h2>Integration Settings</h2>

    <form method="post" class="form-horizontal" action="{% url 'hc-add-channel' %}">
        {% csrf_token %}
        <input type="hidden" name="kind" value="telegram" />
        <div class="form-group">
            <label for="id_email" class="col-sm-2 control-label">Phone Number</label>
            <div class="col-sm-3">
                <input
                    id="id_email"
                    type="tel"
                    class="form-control"
                    pattern="^\d{12}$"
                    name="value"
                    placeholder="254xxxxxxxxx">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save Integration</button>
            </div>
        </div>
    </form>
</div>
</div>


{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endcompress %}
{% endblock %}
